<article class="section pf-view-section item-detail-view">
  <div class="section-heading content-group-heading pf-view-section-heading item-detail-heading">
    <h2>{{#if available}}Details{{else}}{{title}}{{/if}}</h2>
  </div>
  {{#if available}}
    {{#if chips.length}}
      <div class="meta-row item-detail-chip-row">
        {{#each chips}}
          {{> "modules/pocket-foundry/templates/partials/chip.hbs"}}
        {{/each}}
      </div>
    {{/if}}
    {{#if fields.length}}
      <div class="item-detail-grid" data-region="item-detail-facts">
        {{#each fields}}
          <div class="item-detail-field">
            <span>{{label}}</span>
            <strong>{{value}}</strong>
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if descriptionHtml}}
      <section class="reader item-detail-description" data-region="item-detail-description">
        {{{descriptionHtml}}}
      </section>
    {{else}}
      {{> "modules/pocket-foundry/templates/partials/empty-state.hbs" title="No Description" body="This item has no visible description."}}
    {{/if}}
  {{else}}
    {{> "modules/pocket-foundry/templates/partials/empty-state.hbs" title=title body=description}}
  {{/if}}
</article>
