<article class="row sheet-list-row effects-list-row effect-row {{#unless active}}inactive{{/unless}}" data-effect-id="{{id}}" {{#if parentId}}data-parent-id="{{parentId}}"{{/if}} data-favorite-context data-state-key="effect:{{id}}">
  {{#*inline "summary"}}
      <span class="item-icon" aria-hidden="true">
        {{#if icon}}<img src="{{icon}}" alt="">{{else}}{{iconText}}{{/if}}
      </span>
      <span class="row-title sheet-row-title">
        <strong>{{name}}</strong>
        <span>{{#if sourceName}}{{sourceName}}{{else}}-{{/if}} - {{durationLabel}}</span>
      </span>
      <span class="sheet-list-value effects-list-value">{{#if sourceName}}{{sourceName}}{{else}}-{{/if}}</span>
      <span class="effect-row-actions" aria-label="{{name}} controls">
        {{#if actions.canDelete}}
          <button class="effect-delete" type="button" data-action="effects-delete-temporary" data-effect-id="{{id}}" aria-label="Remove {{name}}" data-swipe-ignore>
            <i class="fa-solid fa-trash" aria-hidden="true"></i>
          </button>
        {{/if}}
      </span>
  {{/inline}}
  {{#*inline "body"}}
      {{#if description}}<div class="effect-description pf-detail-description">{{{description}}}</div>{{/if}}
      {{#if changes.length}}
        <dl class="pf-detail-facts">
          {{#each changes}}<div><dt>{{label}}</dt><dd>{{#if value}}{{value}}{{else}}-{{/if}}</dd></div>{{/each}}
          {{#each facts}}<div><dt>{{label}}</dt><dd>{{value}}</dd></div>{{/each}}
        </dl>
      {{else}}
        <dl class="pf-detail-facts">
          {{#each facts}}<div><dt>{{label}}</dt><dd>{{value}}</dd></div>{{/each}}
        </dl>
      {{/if}}
      {{#if sourceLinkable}}
        <div class="meta-row pf-detail-meta">
          {{> "modules/pocket-foundry/templates/partials/pill.hbs"
            button=true
            label=sourceName
            action="details-open-reference"
            uuid=sourceUuid
            swipeIgnore=true
          }}
        </div>
      {{/if}}
      <div class="effect-detail-actions pf-detail-actions">
        {{#if actions.canEndConcentration}}
          <button type="button" data-action="effects-end-concentration" data-effect-id="{{id}}" data-swipe-ignore>End Concentration</button>
        {{/if}}
        {{#if actions.canDelete}}
          <button class="effect-delete" type="button" data-action="effects-delete-temporary" data-effect-id="{{id}}" aria-label="Remove {{name}}" data-swipe-ignore>
            <i class="fa-solid fa-trash" aria-hidden="true"></i>
          </button>
        {{/if}}
      </div>
  {{/inline}}
  {{> "modules/pocket-foundry/templates/partials/expandable-detail-row.hbs"
    drawerClass="effect-detail-drawer"
    summaryClass="effect-row-summary pf-list-schema pf-list-schema--icon-title-source-actions"
    bodyClass="pf-expandable-detail-body"
  }}
  {{> "modules/pocket-foundry/templates/partials/favorite-context-menu.hbs"
    canToggleFavorite=actions.canToggleFavorite
    favorite=favorite
    ariaLabel=name
    addAction="context-add-favorite"
    removeAction="context-remove-favorite"
    addLabel="Add to Favorites"
    removeLabel="Remove from Favorites"
    favoriteType="effect"
    favoriteId=favoriteId
  }}
</article>

