<span class="chip {{tone}}" data-chip="{{id}}">
  {{#if label}}<b>{{label}}</b>{{/if}}
  {{#if hasValue}}
    <strong>{{value}}</strong>
  {{else}}
    {{#if value}}<strong>{{value}}</strong>{{/if}}
  {{/if}}
</span>
