<div class="{{toolbarClass}}" data-region="{{region}}">
  {{#if canClear}}
    <label class="{{searchClass}} has-clear">
      <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
      <input
        type="search"
        placeholder="{{placeholder}}"
        aria-label="{{ariaLabel}}"
        value="{{value}}"
        {{#if characterPickerSearch}}
          data-character-picker-search-input="true"
        {{else}}
          data-pane-search-input="{{pane}}"
        {{/if}}
        data-swipe-ignore
      >
      <button
        class="pane-search-clear"
        type="button"
        aria-label="{{clearAriaLabel}}"
        data-action="{{#if characterPickerSearch}}character-picker-clear-search{{else}}pane-clear-search{{/if}}"
        {{#unless characterPickerSearch}}data-pane="{{pane}}"{{/unless}}
        data-swipe-ignore
      ><i class="fa-solid fa-xmark" aria-hidden="true"></i></button>
    </label>
  {{else}}
    <label class="{{searchClass}}">
      <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
      <input
        type="search"
        placeholder="{{placeholder}}"
        aria-label="{{ariaLabel}}"
        value="{{value}}"
        {{#if characterPickerSearch}}
          data-character-picker-search-input="true"
        {{else}}
          data-pane-search-input="{{pane}}"
        {{/if}}
        data-swipe-ignore
      >
    </label>
  {{/if}}
  <button class="sr-only" type="button" aria-hidden="true" tabindex="-1" {{#unless canClear}}disabled{{/unless}}></button>
</div>
